.home {
	padding: 56px 0;
	min-height: 100%;
	width: 100%;
}
.card__wrap {
	height: calc(100vh - 224px);
	padding-top: calc(100vh - 224px);
	background-image: url(../../assets/img/profile__desk.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
	.home {
		padding-top: 112px;
	}
	.card__wrap {
		height: calc(100vh - 280px);
		padding-top: calc(100vh - 280px);
	}
}
